<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094679775015-iv7rdi9ej154m0jf9q1celfaggdmuhop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094679775015-iv7rdi9ej154m0jf9q1celfaggdmuhop</string>
	<key>API_KEY</key>
	<string>AIzaSyCACut76zIgzFH3WwcyfAXlHouHeiAiaQU</string>
	<key>GCM_SENDER_ID</key>
	<string>1094679775015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isirienterprises.naravi.uat</string>
	<key>PROJECT_ID</key>
	<string>isirienterprises-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>isirienterprises-uat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094679775015:ios:d86d8cbf77e7dcd60bcb02</string>
</dict>
</plist>